wsdl/calculadora_service_definition.wsdl

<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" 
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
    xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
    xmlns:tns="http://localhost/calculadora/" 
    xmlns:s="http://www.w3.org/2001/XMLSchema" 
    xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" 
    xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://localhost/calculadora/">
    <wsdl:types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://localhost/calculadora/">
            <s:element name="Suma">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="intA" type="s:int"/>
                        <s:element minOccurs="1" maxOccurs="1" name="intB" type="s:int"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="respuestaSuma">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="resultadoSuma" type="s:int"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="Resta">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="intA" type="s:int"/>
                        <s:element minOccurs="1" maxOccurs="1" name="intB" type="s:int"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="respuestaResta">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="resultadoResta" type="s:int"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="Multiplicacion">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="intA" type="s:int"/>
                        <s:element minOccurs="1" maxOccurs="1" name="intB" type="s:int"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="respuestaMultiplicacion">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="resultadoMultiplicacion" type="s:int"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="Division">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="intA" type="s:int"/>
                        <s:element minOccurs="1" maxOccurs="1" name="intB" type="s:int"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="respuestaDivision">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="resultadoDivision" type="s:float"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="RaizCuadrada">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="intA" type="s:int"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="respuestaRaizCuadrada">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="resultadoRaizCuadrada" type="s:float"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
        </s:schema>
    </wsdl:types>
    <wsdl:message name="SumaSoapIn">
        <wsdl:part name="parameters" element="tns:Suma"/>
    </wsdl:message>
    <wsdl:message name="SumaSoapOut">
        <wsdl:part name="parameters" element="tns:respuestaSuma"/>
    </wsdl:message>
    <wsdl:message name="RestaSoapIn">
        <wsdl:part name="parameters" element="tns:Resta"/>
    </wsdl:message>
    <wsdl:message name="RestaSoapOut">
        <wsdl:part name="parameters" element="tns:respuestaResta"/>
    </wsdl:message>
    <wsdl:message name="MultiplicacionSoapIn">
        <wsdl:part name="parameters" element="tns:Multiplicacion"/>
    </wsdl:message>
    <wsdl:message name="MultiplicacionSoapOut">
        <wsdl:part name="parameters" element="tns:respuestaMultiplicacion"/>
    </wsdl:message>
    <wsdl:message name="DivisionSoapIn">
        <wsdl:part name="parameters" element="tns:Division"/>
    </wsdl:message>
    <wsdl:message name="DivisionSoapOut">
        <wsdl:part name="parameters" element="tns:respuestaDivision"/>
    </wsdl:message>
    <wsdl:message name="RaizCuadradaSoapIn">
        <wsdl:part name="parameters" element="tns:RaizCuadrada"/>
    </wsdl:message>
    <wsdl:message name="RaizCuadradaSoapOut">
        <wsdl:part name="parameters" element="tns:respuestaRaizCuadrada"/>
    </wsdl:message>
    <wsdl:portType name="CalculatorSoap">
        <wsdl:operation name="Suma">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        Suma dos numeros
            </wsdl:documentation>
            <wsdl:input message="tns:SumaSoapIn"/>
            <wsdl:output message="tns:SumaSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="Resta">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        Resta dos numeros
            </wsdl:documentation>
            <wsdl:input message="tns:RestaSoapIn"/>
            <wsdl:output message="tns:RestaSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="Multiplicacion">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        Multiplica dos numeros
            </wsdl:documentation>
            <wsdl:input message="tns:MultiplicacionSoapIn"/>
            <wsdl:output message="tns:MultiplicacionSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="Division">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        Divide dos numeros
            </wsdl:documentation>
            <wsdl:input message="tns:DivisionSoapIn"/>
            <wsdl:output message="tns:DivisionSoapOut"/>
        </wsdl:operation>
        <wsdl:operation name="RaizCuadrada">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        Saca la raiz cuadrada de un numero
            </wsdl:documentation>
            <wsdl:input message="tns:RaizCuadradaSoapIn"/>
            <wsdl:output message="tns:RaizCuadradaSoapOut"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CalculatorSoap" type="tns:CalculatorSoap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Suma">
            <soap:operation soapAction="http://localhost/calculadora/Suma" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Resta">
            <soap:operation soapAction="http://localhost/calculadora/Resta" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Multiplicacion">
            <soap:operation soapAction="http://localhost/calculadora/Multiplicacion" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Division">
            <soap:operation soapAction="http://localhost/calculadora/Division" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="RaizCuadrada">
            <soap:operation soapAction="http://localhost/calculadora/RaizCuadrada" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Calculadora">
        <wsdl:port name="CalculatorSoap" binding="tns:CalculatorSoap">
            <soap:address location="http://localhost/calculadora/wsdl/calculadora_endpoint.php"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>